header {
    background-color: #362C57;
    background-image: -webkit-radial-gradient(50% top, rgba(123, 84, 182, .6) 0, rgba(123, 84, 182, 0) 75%), -webkit-radial-gradient(right top, rgba(127, 74, 162, .5) 0, rgba(127, 74, 162, 0) 57%);
    background-size: 100% 1000px;
    background-repeat: no-repeat;
    color: #E7E4F1;
}

.login>a {
    background: transparent;
}

.login>a:link {
    text-decoration: none;
    color: #fff;
}

.login>a:visited {
    text-decoration: none;
    color: #fff;
}

.login>a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #664A8C !important;
}

.login>a:active {
    text-decoration: none;
    color: #fff;
}


#wrap {
    min-height: 100%;
    height: auto !important;

}

body {
    background-color: #fff;
}

main {
    background-color: white;
}

#buttons {
    text-align: center;
}

body {
    background-image: url('/static/img/background.png');
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
}

#fb_btn {
    background-color: #3B5998;
}

#tw_btn {
    background-color: #56A3D9;
}

#go_btn {
    background-color: #DD4B39;
}

.loginbtn {
    border-left: solid black 1px;
    padding-right: 7px;
    color: black;
    font-weight: bold;
    display: inline-block;
    height: 32px;
}
