header {
    background-color: #362C57;
    background-image: -webkit-radial-gradient(50% top, rgba(123, 84, 182, .6) 0, rgba(123, 84, 182, 0) 75%), -webkit-radial-gradient(right top, rgba(127, 74, 162, .5) 0, rgba(127, 74, 162, 0) 57%);
    background-size: 100% 1000px;
    background-repeat: no-repeat;
    color: #E7E4F1;
}

.login>a {
    background: transparent;
}

.login>a:link {
    text-decoration: none;
    color: #fff;
}

.login>a:visited {
    text-decoration: none;
    color: #fff;
}

.login>a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #664A8C !important;
}

.login>a:active {
    text-decoration: none;
    color: #fff;
}


#wrap {
    min-height: 100%;
    height: auto !important;

}

body {
    background-color: #fff;
}

header .navbar {
    border-bottom: 1px solid rgba(199, 192, 222, .1);
    z-index: 100;
    background: transparent;

}

.navbar-brand {
    color: #fff !important;
}

.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}

.body-container {
    margin-left: auto;
    margin-right: auto;
}

.extend {
    height: 650px;
}

#header {
    font-size: 6em;
    color: #45BD9A;
}

#signup-body {
    margin-top: 10px;
    margin-bottom: 10px;
}
