header {
    background-color: #362C57;
    background-image: -webkit-radial-gradient(50% top, rgba(123, 84, 182, .6) 0, rgba(123, 84, 182, 0) 75%), -webkit-radial-gradient(right top, rgba(127, 74, 162, .5) 0, rgba(127, 74, 162, 0) 57%);
    background-size: 100% 1000px;
    background-repeat: no-repeat;
    color: #E7E4F1;
}

a {
    background: transparent;
}

a:link {
    text-decoration: none;
    color: #fff;
}

a:visited {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #664A8C !important;
}

a:active {
    text-decoration: none;
    color: #fff;
}


#wrap {
    min-height: 100%;
    height: auto !important;

}
body {
    background-color: #fff;
}

header .navbar {
    border-bottom: 1px solid rgba(199, 192, 222, .1);
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}