{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
<head>
  {% block meta %}{% endblock meta %}

  <title>SparkDoor{% block title %}{% endblock title %}</title>

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  

  {# Custom CSS #}
  {% block css %}
  <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
  {% endblock css %}

  {# Base head JS #}
  {% block base_js %}
  {# This will need to be updated to a custom build when we go to production #}
  <script src="http://modernizr.com/downloads/modernizr-latest.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  {% endblock base_js %}

  {# Custom head JS #}
  {% block head_js %}
  {% endblock head_js %}
</head>

<body {% block body_attr %}{% endblock body_attr %}>

  {% block header %}
  <div id="wrap">
    <header>
      <nav class="navbar navbar-static-top" role="navigation">
        <div class="container-fluid">
          <!-- Groups all the good stuff for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "common:home"%}">SparkDoor</a>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Login</a></li>
              <li><a href="#">Signup</a></li>
            </ul>
          </div>

        </div>
      </nav>
      <div class="container">
        <h1 style="color: #45BD9A;">SparkDoor</h1>
      </div>
    </header>
  </div>
  <!-- End Navigation -->
  {% endblock header %}

  <div class="row main_content">
    <!-- Content -->
    <main class="large-12 columns">
      {% block messages %}
      {% for msg in messages %}
      {# Display django.contrib.messages as Bootstrap alerts #}
  {% bootstrap_messages %}
      {% endfor %}
      {% endblock messages %}

      {% block base_content %}
      {% block content %}{% endblock content %}
      {% endblock base_content %}
    </main>
    <!-- End Content -->

    <!-- Footer -->
    {% block footer %}
  </div>
  {% endblock footer %}
  <!-- End Footer -->


  {# Custom JS #}
  {% block body_js %}{% endblock body_js %}

  {# Init Foundation #}
  {% block foundation_js_init %}
  <script>
  $(document).foundation();
  </script>
  {% endblock foundation_js_init %}
</body>
</html>
