{% extends 'common/base.html' %}

{% load bootstrap3 %}
{% load static %}

{% block title %}Devices{% endblock title %}

{% block body_js %}
<script src="{% static 'js/door_app.js' %}"></script>
{% endblock body_js %}

{% block content %}
<script>
function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
$(document).ready(function(evt) {
  var csrftoken = getCookie('csrftoken');
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });
  $('#door_unlock_modal').on('show.bs.modal', function(evt) {
    var modal = $(this);
    var uri = $(evt.relatedTarget).data('uri');
    var loader = modal.find('.ajax-loader');
    var footer = modal.find('.modal-footer');
    var text = modal.find('.modal-text');
    modal.find('.door-name').text($(evt.relatedTarget).parents('.door-app').find('.device-name').text());
    loader.show();
    footer.hide();
    text.hide();
    $.post(uri).always(function() {
      loader.hide();
      footer.show();
    }).done(function(data, status, jqXHR) {
      text.show().text('Opened!');
    }).fail(function(data, status, jqXHR) {
      text.show().text('Door could not be opened.');
    });
  });
});
</script>
<div class="modal fade" id="door_unlock_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Opening <span class="door-name"></span></h4>
      </div>
      <div class="modal-body">
        <img class="center-block ajax-loader" src="{% static 'img/ajax-loader.gif' %}">
        <p class="modal-text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>
<h1>Your Devices</h1>
<div class="row">
  {% for device in devices %}
  <div class="col-lg-4 col-md-6 col-sm-12">{{ device }}</div>
  {% empty %}
  <div class="col-lg-12">
    <div class="panel panel-default door-app">
      <div class="panel-heading">
        <h4><small class="text-primary">{% bootstrap_icon "hdd" %}</small> None yet :(</h4>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4><small class="text-primary">{% bootstrap_icon "plus" %}</small> Register New Device</h4>
  </div>
  <div class="panel-body">
    <form role="form" class="form-horizontal" method="POST">
      {% csrf_token %}
      <div class="form-group {% if form.name.errors %}has-error{% endif %}">
        <label for="id_name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="id_name" name="name" placeholder="Give your device a name!">
          {{ form.name.errors|first }}
        </div>
      </div>
      <div class="form-group {% if form.device_id.errors %}has-error{% endif %}">
        <label for="id_device_id" class="col-sm-2 control-label">ID</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="id_device_id" name="device_id" placeholder="Enter your device ID">
          {{ form.device_id.errors|first }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
