{% load bootstrap3 %}

<div class="panel panel-default door-app">
  <div class="panel-heading">
    <h4><small class="text-primary">{% bootstrap_icon "hdd" %}</small>&nbsp;<span class="device-name">{{ device.name }}</span></h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Last opened on 10/12/2014</li>
    <li class="list-group-item">Some other info</li>
  </ul>
  <div class="panel-footer">
    <div class="btn-group btn-group-justified">
      <a class="btn btn-primary" data-toggle="modal" data-target="#door_unlock_modal" data-uri="{% url 'devices-action' pk=device.id action='open' %}">Unlock</a>
      <a class="btn btn-default" data-uri="{% url 'devices-action' pk=device.id action='stats' %}">Stats</a>
      <a class="btn btn-default" data-uri="{% url 'devices-action' pk=device.id action='invite' %}">Share</a>
    </div>
  </div>
</div>
