{% load bootstrap3 %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><small class="text-primary">{% bootstrap_icon "hdd" %}</small> {{ device.name }}</h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Last opened on 10/12/2014</li>
    <li class="list-group-item">Some other info</li>
  </ul>
  <div class="panel-footer">
    <div class="btn-group btn-group-justified">
      <a class="btn btn-primary">Unlock</a>
      <a class="btn btn-default">Stats</a>
      <a class="btn btn-default">Share</a>
    </div>
  </div>
</div>
